.aboutUsBG {
  background-image: url(/illustrations/aboutUsBG.svg);
}

/* .ourMissionBG {
  background-image: url(/illustrations/testBG2.svg);
} */

.executivesBG {
  background-image: url(/illustrations/executivesBG.svg);
}

.directorsBG {
  background-image: url(/illustrations/directorsBG.svg);
}
