.ourSponsorsBG {
  background-image: url(/illustrations/ourSponsorsBG.svg);
}

.featuredPublicationsSectionBG {
  background-image: url(/illustrations/ourSponsorsBG.svg);
}

.allPublicationsSectionBG {
  background-image: url(/illustrations/sponsorsBG.svg);
}

.homePublicationsSectionBG {
  background-image: url(/illustrations/homePublicationsBG.svg);
}
