.eventsBG {
  background-image: url(/illustrations/ourSponsorsBG.svg);
}

.eventsSectionBG {
  background-image: url(/illustrations/sponsorsBG.svg);
}

.upcomingEventsSectionBG {
  background-image: url(/illustrations/directorsBG.svg);
}
